@import '../../../scss/variables.scss';
@import '../../../scss/mixins/reset.scss';
@import '../../../scss/mixins/utils.scss';
@import '../../../scss/mixins/text.scss';

.button {
  @include reset-button();
  @include focus();
  position: relative;

  &:disabled {
    pointer-events: none;
  }
}

.icon {
  @include vertical-center();
  left: 16px;
}

.filled {
  @include textRegular-20();
  border-radius: 8px;
  padding: 15px 50px;
}

.custom {
  @include textRegular-20();
  animation: animated-border 1.5s infinite;
  background-color: $ghost-background;
  border: $border-default;
  border-radius: 16px;
  padding: 40px 300px;

  span {
    background-color: $ghost-background;
    color: $font-color-default;
  }

  &:hover {
    background-color: $global-background;

    span {
      background-color: $global-background;
      color: $white;
    }
  }
  @keyframes animated-border {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
    }

    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
  }
}

.remove {
  border: $border-default;
  padding: 5px 45px;

  span {
    color: $font-color-default;
  }

  &:hover {
    background-color: $ghost-background;

    span {
      background-color: $ghost-background;
      color: $white;
    }
  }
}

.dark {
  background-color: $filled-background;
  border: $border-default;

  span {
    background-color: $filled-background;
    color: $font-color-default;
  }

  &:hover {
    background-color: $global-background;

    span {
      background-color: $global-background;
      color: $white;
    }
  }
}
.light {
  background-color: $filled-background-light;
  border: $border-default-light;

  span {
    background-color: $filled-background-light;
    color: $white;
  }

  &:hover {
    background-color: $global-background-light;

    span {
      background-color: $global-background-light;
      color: $font-color-default;
    }
  }
}
