@import './variables.scss';

body {
  margin: 0 auto;
  text-size-adjust: none;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

main {
  height: 100vh;
}

.dark {
  background-color: $global-background;
  color: $font-color-default;

  header {
    background-color: $header-background;
  }
}

.light {
  background-color: $global-background-light;
  color: $white;

  header {
    background-color: $global-background-light;
  }
}
