// COLORS

$white: #ffffff;
$black: #000000;

$global-background: #1c2428;
$filled-background: #1c3032;
$ghost-background: #2e3439;

$font-color-default: #1dbf99;

// FOLDER COLORS

$danger: #ff4d4f;
$sucsess: #52c41a;
$aqua: #40a9ff;
$sunrise: #fadb14;

// FONTS

$font-family-chakra: 'Chakra Petch', sans-serif;
$font-family-roboto: 'Roboto', monospace;

// FONT WEIGHTS

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// SHADOWS

$basic-box-shadow:
  0 0 0 1px transparent,
  0 0 0 2px #223c50;

//  BORDER

$border-default: 1px solid #1da788;
